# Gemini API Key
VITE_GEMINI_API_KEY=AIzaSyAJOjJH7JByAMDf4nH3gJx15_GcRQvGo-A

# Supabase Config
VITE_SUPABASE_URL=https://vbsxnruljoauhfgqbkek.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Pcihlx2tMYpwGzgJIvXYYg_khxgfgUt

# RevenueCat keys
VITE_REVENUECAT_APPLE_KEY=your_apple_public_sdk_key
VITE_REVENUECAT_GOOGLE_KEY=your_google_public_sdk_key
